# SPDX-FileCopyrightText: 2023 Ricardo Wurmus <rekado@elephly.net>
#
# SPDX-License-Identifier: CC0-1.0

*~
swineherd-*.tar.gz
scripts/swineherd
swineherd/config.scm
doc/*.info
doc/.dirstamp
doc/stamp-vti
.version
*.log
*.go
pre-inst-env
aclocal.m4
autom4te.cache/
config.status
configure
Makefile.in
Makefile
disk.img
TODO.org